@import '../../../assets/styles/mixins';
@import '../../../assets/styles/variables';

.slider {
  max-width: 1440px;
  margin: 0 auto;
  background-color: $bgColor;
  margin-bottom: 70px;

  &__container {
    display: flex;
    align-items: center;
    column-gap: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .slider-info {
    .slider__title {
      color: #3a3a3a;
      font-size: 40px;
      font-weight: 700;
      line-height: 120%;
      max-width: 422px;
      margin-bottom: 10px;
    }
    .slider__text {
      color: #616161;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 25px;
      max-width: 368px;
    }
    .slider__link {
      color: #fff;
      font-weight: 600;
      line-height: 150%;
      padding: 12px 42px;
      background-color: $primaryColor;
      transition: 0.1s;
      &:hover {
        background-color: $hoverColor;
      }
    }
  }
}
